{% extends 'shop/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>
        Order list
    </title>
{% endblock %}
{% block body%}
<p>
    Order by {% firstof order.user.first_name order.user.username %}
</p>
<h1>Order List:</h1>
{% if orders %}
    <ol>
    {% for order in orders %}
        <li>
        <div {% if forloop.counter0|divisibleby:"2" == True %} id = "div1" {% else %} id ="div2" {% endif %} >
            <ul>
            <li><p> Primary key: <code>{{ order.pk }}</code></p></li>
            <li><p> Promocode: <code>{{ order.promocode }}</code></p></li>
            <li><p> Address: <code>{{ order.delivery_addres }}</code></p></li>
            <li><p> Date 0f register: <code>{{ order.created_at }}</code></p></li>
            <li><p> Products included:
                {% if order.products.all %}
                    <div id = "div3"><ol>
                      {% for product in order.products.all %}<li><ul>
                            <li>Name : {{ product.name}}</li>
                            <li>Description : {{ product.desc}}</li>
                            <li>Price : {{ product.price}}</li>
                            <li>Category : {{ product.category}}</li>
                            <li>Brand : {{ product.brand}}</li>
                            <li>Country of manufacture : {{ product.country_manuf}}</li>
                            <li>Archived : {{ product.archived}}</li></ul></li><br/>
                      {% endfor %}
            </ol></div>
                {%else %}
                <code> There is no information to upload </code>
                {% endif%}
                </p></li>
            </ul>
        </div>
        </li>
    {%  endfor %}
    </ol>
{% else %}
    <h3> No orders :(</h3>
{% endif %}
<div><a href="{% url 'shop:product_create'%}">
    Create a new Product
    </a>
</div>
{% endblock %}