{% extends 'shop/base.html'%}
    <meta charset="UTF-8">
    <title>

        Group list

    </title>
{% block body %}
<h1>Groups list: </h1>
<div>
    <form method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >
            Create
        </button>
    </form>
</div>
<div><ol>
{% for i in groups %}
     <li><div>name: {{i.name}}</div>
         <div>id: {{i.id}}</div>
         <div>permissions:
             <ul>
            {% for perm in i.permissions.all %}
                 <li>
                 {{ perm.name }}
                     (<code>{{ perm.codename }}</code>)
                 </li>
                 {% endfor %}
             </ul>
         </div>
     </li>
    {% endfor %}
</ol></div>
{% endblock %}